.searchBarInput{
    border-radius: 4px;
    margin:0px 10px 0px 10px;
    width: 300px;
    height: 20px;
  }
.searchButton{
    height: 25px;
    border-radius: 3px;
    background-color: darkslategray;
    color: white;
}