* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-image:url("img/background-img.jpeg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
