* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: rgba(70, 104, 204, 0.71) no-repeat center center/cover;
  height: 100vh;
}
.container {
  margin: auto;
  padding: 0 20px;
}
header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
