* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}
.cardsCont{
  margin-top: 100px;
}