.listStyle{
    list-style: none;
    background-color: rgba(243, 243, 243, 0.85);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 10px;
}
.imageStyle {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.titles{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    padding: 10px;
    margin: 0 15px;

}
.contentSize{
    font-family: 'Inder', sans-serif;
    height: 200px;
    color: #666;
    padding: 10px;
    margin: 0 15px;
}
.heroDetails{
    display: "flex";
    flex-direction: "column";
    background-color:"white";
    height: 500;
    border-radius: 5;
}